@import './_vars.scss';

.profile {
    margin-bottom: 5.625rem;

    .header-title {
        margin-bottom: 2.25rem;
    }

    article {
        section {
            p {
                font-size: 1.9375rem;
                font-weight: normal;
                font-family: $font-regular;
            }
        }
    }
}