@import './_vars.scss';

.profile {
    margin-bottom: 90px;

    .header-title {
        margin-bottom: 36px;
    }

    article {
        section {
            p {
                font-size: 31px;
                font-weight: normal;
                font-family: $font-regular;
            }
        }
    }
}