@import './_vars.scss';

.skills {
    margin-bottom: 38px;

    .header-title {
        margin-bottom: 56px;
    }

    .skills-level {
        li+li {
            margin-top: 52px;
        }

        p {
            font-size: 51px;
            font-family: $font-regular;
            margin-bottom: 32px;
            text-transform: uppercase;
            text-align: center;
        }

        .skills-level__dots {
            display: flex;
            align-items: center;

            @import './elements/_dot.scss';

            .dot+.dot {
                margin-left: 19px;
            }
        }
    }
}