@import './_vars.scss';

.skills {
    margin-bottom: 2.375rem;

    .header-title {
        margin-bottom: 3.5rem;
    }

    @import './_skills-level.scss';

    .skills-level {
        li {
            padding-left: 92px / $left-side-width * 100%;
            padding-right: 92px / $left-side-width * 100%;
        }

    }
}