@import './_vars.scss';

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-justify {
    text-align: justify;
}

.txt-uppercase {
    text-transform: uppercase;
}

.txt-lowercase {
    text-transform: lowercase;
}

.txt-capitalize {
    text-transform: capitalize;
}

.circle {
    border-radius: 50%;
}

// width from 0 to 100%
@for $i from 0 through 100 {

    // .progress__line-#{$i},
    .w-#{$i} {
        width: 1% * $i;
    }
}

.row {
    width: 100%;
}