@import './_vars.scss';

@import './_fonts.scss';

@import './_sprite.scss';

@import './_myReset.scss';

@import './_default.scss';

@import './_helper-classes.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $text-color;
    font-weight: normal;
}

.page {
    max-width: 2480px;
    width: 100%;
    margin: 0 auto;
    // padding: 152px 115px 152px 121px;

    // padding-top: 6.129032258064516%;
    // padding-bottom: 6.129032258064516%;
    padding-right: 4.637096774193548%;
    padding-left: 4.879032258064516%;

    header,
    footer {
        height: 152px;
        width: 100%;
    }

    .wrapper {
        max-width: 2244px;
        width: 90.483870967741935%;
        margin: 0 auto;
        display: flex;
    }

    .left-side {
        max-width: 980px;
        width: 43.672014260249554%;
    }

    .right-side {
        max-width: 1264px;
        width: 56.327985739750446%;
    }

    @import './components/_preview.scss';

    .helper-line {
        width: 100%;
        height: 10px;
        display: inline-block;
        background-color: $primary;
    }

    .header-title {
        display: flex;
        align-items: center;

        li {
            display: flex;
        }

        h3 {
            font-size: 82px;
            font-weight: bold;
            font-family: $font-bold;
            color: $text-primary;
            text-transform: uppercase;
        }

        .icon {
            margin-right: 24px;
        }

        .helper-line {
            margin-left: 20px;
        }
    }

    @import './components/_profile.scss';

}