@import './_vars.scss';

@import './_fonts.scss';

@import './_sprite.scss';

@import './_myReset.scss';

@import './_default.scss';

@import './_helper-classes.scss';

.page {
    max-width: $full-page-width;
    width: 100%;
    margin: 0 auto;

    padding-right: 4.637096774193548%;
    padding-left: 4.879032258064516%;

    >header,
    >footer {
        height: 9.5rem;
        width: 100%;
    }

    .wrapper {
        max-width: $wrapper-width;
        width: $wrapper-width / $full-page-width * 100%;
        margin: 0 auto;
        display: flex;
    }

    .left-side {
        max-width: $left-side-width;
        width: $left-side-width / $wrapper-width * 100%;
        padding-right: 154px / $wrapper-width * 100%;
    }

    .right-side {
        max-width: $right-side-width;
        width: $right-side-width / $wrapper-width * 100%;
    }

    @import './_layout.scss';

}

@import './_media.scss';