@import './_vars.scss';

.dot {
    @extend .circle;

    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    background-color: $bg-skills;

    &.active {
        background-color: $primary-color;
    }
}