@import './_vars.scss';

.dot {
    @extend .circle;

    width: 36px;
    height: 36px;
    display: flex;
    background-color: $bg-skills;

    &.active {
        background-color: $primary-color;
    }
}