extends layouts/layout

block content
    .wrapper
        .left-side
            include ./components/preview
            include ./components/profile
            include ./components/contact
            include ./components/skills
        .right-side
            include ./components/education
            include ./components/experience
            include ./components/software