include ../mixins/mixin

.contact
    +header-title('phone', 'Contact')
    .contact-form
        form(autocomplete='off')
            fieldset
                +contact-form__item('address', 'text', 'address', 'Address', 'Main Street, City.', '1')
                +contact-form__item('email', 'email', 'email', 'E-mail', 'contact@domain.com', '2')
                +contact-form__item('phone', 'text', 'phone', 'Phone', '555-555-555', '3')
                +contact-form__item('website', 'text', 'website', 'Website', 'www.yourweb.com' , '4')