include ../mixins/mixin
    
.education
    +header-title('education', 'Education')
    article
        - for (var x = 0; x < 4; x++)
            section
                header
                    span.dot
                    hgroup
                        h4 
                            | Master Degree
                            span &nbsp; // Feb 2011 - Jun 2014
                        h5 University Name
                p 
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    | eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                    | nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.