.preview.txt-center
    .preview__logo
        a(href="/", target='_blank')
            img(src="https://via.placeholder.com/405", alt="logo", title='logo')
    .preview__title
        hgroup
            h1 Name Here
            h2 Surname
        p Graphic Designer