.preview.txt-center
    .preview__logo
        a.circle(href="/", target='_blank')
            img.circle(src="https://via.placeholder.com/405", alt="logo", title='logo')
    .preview__title.txt-uppercase
        hgroup
            h1 Name Here
            h2 Surname
        p Graphic Designer