.skills
    ul.header-title
        li
            span.icon.icon__skills
        li
            h3 Skills
        li.helper-line
    ul.skills-level
        li
            p Creative
            .skills-level__dots
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot
                span.dot
                span.dot
        li
            p Teamwork
            .skills-level__dots
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot
        li
            p Innovate
            .skills-level__dots
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot
                span.dot
                span.dot
                span.dot
                span.dot
                span.dot
        li
            p Communication
            .skills-level__dots
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot.active
                span.dot