include ../mixins/mixin

.software
    +header-title('software', 'Software')
    .row
        .w-50
            ul.skills-level
                +skills-level('Photoshop', 90)
                +skills-level('Illustrator', 86)
                +skills-level('Indesign', 77)
        .w-50
            ul.skills-level
                +skills-level('Dreamweaver', 80)
                +skills-level('After Effects', 60)
                +skills-level('HTML & CSS3', 90)