- var nameTitle = 'cv_template';

html(lang="ru")
    head
        include ../includes/meta
        title #{nameTitle}
    body
        .page
            header
            main
                block content
            footer